extends baseEmail

block content
  p Chào #{firstName},
  p Lượt giữ chỗ của học viên <strong>#{studentName}</strong> (cho lớp <strong>#{className}</strong>) đã hết hạn.
  p Nếu bạn vẫn muốn tham gia, vui lòng thực hiện lại thao tác đăng ký.