extends baseEmail

block content
  p Chào #{firstName},
  p Chúc mừng bạn đã đăng ký thành công cho học viên <strong>#{studentName}</strong> vào lớp <strong>#{className}</strong>.
  p Chúng tôi đã nhận được thanh toán của bạn.