doctype html
html
  head
    title Chào mừng giáo viên mới
  body
    h1 Xin chào #{firstName},
    p Cảm ơn bạn đã trở thành giáo viên của TutorCenter!
    p Tài khoản của bạn đã được tạo với thông tin:
    ul
      li Email: #{email}
      li Mật khẩu tạm thời: #{password}
    p Vui lòng đăng nhập và thay đổi mật khẩu của bạn càng sớm càng tốt.
    p Hãy liên hệ với admin nếu có bất cứ vấn đề gì!
